{% extends "shared/base.html" %}
{% block title %}
  <title>BYODAB</title>
{% endblock %}
{% block content %}
<!-- NAV -->
<div class="w3-container w3-center  w3-padding-16">
  <h1>Error</h1>
</div>
<!-- Start Content -->
<div class="w3-container w3-round colr w3-center w3-padding ">
<style>div.colr {background-color: #BD3D3A;}</style>

  <div class="w3-row">
    <h2>DB NOT FOUND : {{db}}</h2>
  </div>

</div>
<div class="w3-container w3-center w3-padding-16">

<form action="/" method="get" class="w3-container ">
  <div class="w3-row w3-section">
    <button class="w3-button w3-round w3-khaki w3-ripple w3-padding" type="submit">Try again</button>
  </div>
</form>

</div>
<!-- End Content -->
{% endblock %}
